RewriteEngine On

<Files .env>
    Order allow,deny
    Deny from all
</Files>

<FilesMatch "\.DS_Store$">
    Order allow,deny
    Deny from all
</FilesMatch>

#Xử lý Route CTV
RewriteRule ^ctv/([A-Za-z0-9-]+) index.php?module=ctv&action=$1 [L]
RewriteRule ^ctv index.php?module=ctv&action= [L]
#Xử lý Route ADMIN
RewriteRule ^admin/([A-Za-z0-9-]+) index.php?module=admin&action=$1 [L]
RewriteRule ^admin index.php?module=admin&action= [L]
#Xử lý Route CLIENT
RewriteRule ^recharge-manual/([A-Za-z0-9-]+) index.php?module=client&action=recharge-manual&slug=$1 [L]
RewriteRule ^login index.php?module=client&action= [L]
RewriteRule ^Dashbroad index.php?module=client&action= [L]
RewriteRule ^tool/random-face index.php?module=client&action=tool-random-face [L]
RewriteRule ^tool/icon-facebook index.php?module=client&action=tool-icon-facebook [L]
RewriteRule ^tool/get-2fa index.php?module=client&action=tool-2fa [L]
RewriteRule ^tool/check-live-facebook index.php?module=client&action=tool-checklive-fb [L]
RewriteRule ^category/([A-Za-z0-9-]+) index.php?module=client&action=home&slug=$1 [L]
RewriteRule ^api/buy_product ajaxs/client/product.php [L]
RewriteRule ^blogs index.php?module=client&action=blogs [L]
RewriteRule ^blog/([A-Za-z0-9-]+) index.php?module=client&action=blog&slug=$1 [L]
RewriteRule ^document-api index.php?module=client&action=document-api [L]
RewriteRule ^product/([A-Za-z0-9-]+)&aff=([A-Za-z0-9-]+)$ index.php?module=client&action=product&slug=$1&aff=$2 [L]
RewriteRule ^product/([A-Za-z0-9-]+) index.php?module=client&action=product&slug=$1 [L]
RewriteRule ^product-order/([A-Za-z0-9-]+) index.php?module=client&action=product-order&trans_id=$1 [L]
RewriteRule ^product-orders index.php?module=client&action=product-orders [L]
RewriteRule ^join/([A-Za-z0-9-]+) index.php?module=client&action=home&aff=$1 [L]
RewriteRule ^client/home/([A-Za-z0-9-]+) index.php?module=client&action=home&shop=$1 [L]
RewriteRule ^payment/([A-Za-z0-9-]+) index.php?module=client&action=payment&trans_id=$1 [L]
RewriteRule ^client/([A-Za-z0-9-]+) index.php?module=client&action=$1 [L]
RewriteRule ^client index.php?module=client&action= [L]
#Xử lý Route COMMON
RewriteRule ^common/([A-Za-z0-9-]+) index.php?module=common&action=$1 [L]